.space { 
    margin-bottom: 50px;
}

.drp-down-style{
    width: 230px;
    height: 40px;
    /* text-align: center; */
    padding-left: 7%;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}