<body>
	<div class="mx-auto">
		<p style="font-size:120%;text-align:center;margin-top:3%">
			<b>Manage Employee Hierarchy</b>
		</p>
		<div style="margin-top:6%">
			<label ng-model="StringValue" class="col-md-6" [ngStyle]="{'color': status? 'green' : 'red'}" style="text-align: center; white-space: pre-wrap;margin-left:30%">{{responseLabel}}</label>
		</div>
		<div [hidden]="submitted" style="padding-left:24%;width:100%;">
			<form [formGroup]="pccform" (ngSubmit)="onSubmit()" novalidate style="margin-left:10%;">

				<div class="container">
					<label for="pcc" class="control-label required">
						<b> Global Corp ID</b>
					</label>
					<span class="asterisk" style="color:red !important;font-weight: bold">*</span>
					<div class="row col-md-12">
						<textarea id="pcc" class="form-control" formControlName="corpId" maxlength="500" style="width:400px;height:150px" placeholder="Enter single or comma separate Global Corp ID's">		
					    </textarea>
						<app-field-error-display style="margin-left:20px;" [displayError]="isFieldValid('corpId')" errorMsg="Global Corp ID is required">
						</app-field-error-display>
					</div>

					<!-- <form [formGroup]="form" (ngSubmit)="onSubmit()"> -->
						<!-- <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput> -->
					<!-- </form> -->
				</div>

				<div class="container space">
					<label for="Environment">
						<b>Fluid Hierarchy</b>
					</label>&nbsp;
					<span class="asterisk" style="color:red !important;font-weight: bold">*</span>
					<div>
						<select formControlName="fluid" class="drp-down-style">
							<option *ngFor="let item of [{name : 'Yes'}, {name : 'No'}]" >{{item.name}}</option>
						</select>
					</div> 
				</div>

				<div class="container space">
					<label for="Environment">
						<b>History Field</b>
					</label>&nbsp;
					<span class="asterisk" style="color:red !important;font-weight: bold">*</span>
					<div>
						<select formControlName="level" class="drp-down-style">
							<option  *ngFor="let level of [{name : 'BU LEVELS'}, {name : 'LOCATION OFFICE'}, {name : 'MANAGER EMP ID'}, {name : 'COST_CENTER'}]" >{{level.name}}</option>
						</select>
					</div>
				</div>

				<div class="container">
					<label for="UploadedBy" class="control-label required">
						<b>Created By</b>
					</label>
					<span class="asterisk" style="color:red !important;font-weight: bold">*</span>
					<div class="row col-md-12">
						<input id="UploadedBy" class="form-control" formControlName="UploadedBy" maxlength="8" style="width:400px;" placeholder="Enter ADS ID ">
						<app-field-error-display style="margin-left:20px;" [displayError]="isFieldValid('UploadedBy')" errorMsg="Created By is required">
						</app-field-error-display>
					</div>
				</div>
				<br>
				<br>
				<div class="container">
					<div class="row col-md-12">
						<div>
							<button class="btn btn-primary" style="width:100px" >Submit</button>
						</div>

					</div>
				</div>


			</form>
		</div>
	</div>


</body>