.space { 
    margin-bottom: 10px;
}

.drp-down-style{
    width: 230px;
    height: 40px;
    /* text-align: center; */
    padding-left: 95px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.row-split{
    display : flex
}
.btn-style { 
    margin-left: 40%;
}
.btn-style-upload {
    margin: 0 auto;
    margin-bottom: 20px;
}
.btn-padding { 
    padding-left: 40%;
}

